@import url('https://fonts.googleapis.com/css?family=Prompt|Roboto&display=swap');

body {
  overflow-x: hidden;
}

.App {
  text-align: center;
  font-family: 'Roboto', 'Prompt', monospace;
  overflow-x: hidden;
  left: 0;
  right: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-brand {
  /*animation: App-logo-spin infinite 20s linear;*/
  width: 240px;
  pointer-events: none;
}

.App-brand:hover {
  animation: App-logo-spin infinite 20s linear;
}

.Menu-icon:hover {
  animation: App-logo-spin infinite 20s linear;
}

.AppBackground {
  background: whitesmoke;
}

.textWhite {
  color: white;
}

.topBarRelative {
  position: relative;
}

.topItem {
  margin-left: 8px;
  margin-right: 8px;
}

.topBar {
  top: 0;
  border-bottom: 3px solid #171a1c;
  background: #282c34;
}

.topBar-drop {
  position: absolute;
}

.menuBar {
  color: #282c34;
  border-left: 2px #282c34 solid;
  background-color: white;
  width: max-content;
  min-width: max-content;
}

.content {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  padding: 2px;
}

.headerBarItem {
  cursor: pointer;
}

.headerBarItemActive:active {
  color: black;
}

/*mobile screen*/
@media (max-width: 767px){
  .mobile{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
    color: red;
    text-align: center;
  }

  .App {
    display: none;
  }

  /*.menuBar {*/
  /*  display: none;*/
  /*}*/

  /*.headerBarItem {*/
  /*  background-color: white;*/
  /*  height: 55px;*/
  /*  border: #f8f9fa solid 2px;*/
  /*  border-radius: 5px;*/
  /*  color: #282c34;*/
  /*}*/

  /*.headerBarItem:active {*/
  /*  background-color: #282c34;*/
  /*  color: white;*/
  /*}*/

  /*.copyRightTop {*/
  /*  width: 100%;*/
  /*  color: gray;*/
  /*  font-size: 10px;*/
  /*  padding-top: 10px;*/
  /*  text-align: center;*/
  /*}*/
}

/*desktop screen*/
@media (min-width: 768px){
  .mobile{
    display: none;
  }

  .copyRightTop {
    display: none;
  }
}

.navColor {
  color: #282c34;
}

.left {
  left: 0;
  background-color: #111;
}

.right {
  right: 0;
  background-color: #282c34;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

.mainBar {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}

.bottomBar {
  position: fixed;
  height: 45px;
  bottom: 0;
  left: 0;
  right: 0;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.copyRight {
  position: fixed;
  width: 15%;
  bottom: 5px;
  color: gray;
  font-size: 12px;
}

.txt-header-group {
  height: 40px;
  margin-left: 10px;
  margin-right: 0;
  padding: 10px;
}

.txt-header {
  width: 100px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  height: 100%;
}

/*button*/
.btn-header {
  width: 100px;
  height: 40px;
  padding: 8px;
  min-width: 100px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
}

.btn-script {
  color: black;
  background: transparent;
}

.btn-page {
  color: black;
  background: silver;
}

.marginRight50 {
  margin-right: 120px;
}

.btn-logout {
  border-radius: 25px;
  width: 40px;
  height: 40px;
  background: white;
  color: black;
}

.input-windows {
  width: 100%;
  text-align: left;
  border-radius: 1px;
  border: 1px solid #282c34;
  background-color: whitesmoke;
  color: #282c34;
}

.btn-windows {
  width: 75%;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #282c34;
  background-color: whitesmoke;
  color: #282c34;
}