.login-container {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.login-container::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: dodgerblue;
    background: -webkit-linear-gradient(to bottom, blue, deeppink);
    background: -o-linear-gradient(to bottom, blue, deeppink);
    background: -moz-linear-gradient(to bottom, blue, deeppink);
    background: linear-gradient(to bottom, blue, deeppink);
    opacity: 0.7;
}

.bg-url {
    background-image: url("http://www.jaylers.com/public/unsplash.jpg");
}

.whitText {
    color: white;
}

.boldText {
    font-weight: bold;
}

.login-form {
    margin: auto;
    width: max-content;
    height: max-content;
    border-radius: 4px;
    background-color: transparent;
}

.login-brand {
    width: 200px;
    margin-bottom: 30px;
    pointer-events: none;
}

.img-brand {
    width: 400px;
    margin-bottom: 30px;
    pointer-events: none;
}

.login-input {
    width: 300px;
    height: 42px;
    padding: 4px;
    margin: 10px;
    font-size: 18px;
    border-radius: 20px;
    color: black;
    text-align: center;
    border: 1px solid silver;
    alignment: center;
}

.login-btn {
    width: 300px;
    margin-top: 28px;
    margin-bottom: 28px;
    padding: 8px;
    border-radius: 20px;
    background-color: #333;
    border: 1px solid #333333;
}

.login-btn:hover {
    font-weight: bolder;
    background-color: #333;
    border: 1px solid gray;
}

.login-href {
    margin-top: 40px;
    color: whitesmoke;
    font-weight: bold;
}

.login-href:hover {
    text-shadow: 4px 4px 6px black;
    color: white;
    text-decoration: none;
}
.dis { }
.login-href .dis :hover {
    color: white;
    cursor: none;
}

.login-create {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    color: whitesmoke;
    font-weight: bold;
}

.login-create:hover {
    text-shadow: 4px 4px 6px black;
    color: white;
    text-decoration: none;
}

.text-notfound{
    font-weight: bold;
    font-size: large;
}

.text-forget{
    font-weight: bold;
    font-size: x-large;
    margin: 4px;
}

.div-forget {
    background-color: white;
    opacity: 0.7;
    border-radius: 10px;
    color: #282c34;
    padding: 8px 16px 16px;
}

.text-notfound-detail{
    font-weight: normal;
    font-size: medium;
}

.notfound-href {
    background-color: transparent;
    border: 2px solid gray;
    width: 150px;
    margin-top: 50px;
    color: black;
}

.notfound-href:hover {
    color: white;
}

/*mobile screen*/
@media (max-width: 767px){
    .login-back-home {
        color: white;
        font-weight: bold;
        width: 100px;
        text-transform: uppercase;
        padding: 3px;
        border-radius: 25px;
        position: fixed;
        top: 0;
        right: 0;
        margin: 8px;
    }
    .login-back-home:hover {
        color: black;
        text-decoration: none;
    }
}

/*desktop screen*/
@media (min-width: 768px){
    .login-back-home {
        background-color: transparent;
        border: 2px solid white;
        opacity: 0.8;
        color: white;
        font-weight: bold;
        width: 150px;
        text-transform: uppercase;
        padding: 5px;
        border-radius: 25px;
        position: fixed;
        top: 0;
        right: 0;
        margin: 18px;
    }
    .login-back-home:hover {
        background-color: white;
        border: 2px solid white;
        color: black;
        text-decoration: none;
    }
}